<div class="container" id="main">
	<h1>The Chikukwa Project</h1>
	<p class="lead">"An amazing story of African villagers who turned their lives around"</p>
</div>


<div id="page2">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>About the project</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<div class="panel panel-default">
				<div class="panel-body">
				<p>THE CHIKUKWA PROJECT is a feel good story out of Africa. For the last 20 years an incredible permaculture project has been growing in Zimbabwe.</p>

				<p>Where once the people of the Chikukwa villages suffered hunger, malnutrition and high rates of disease, this community has turned its fortunes around using permaculture farming techniques. Complementing these strategies for food security, they have built their community strength through locally controlled and initiated programs for permaculture training, conflict resolution, women’s empowerment, primary education and HIV management. </p>

				<p>Now they have a surplus of food and the people in these villages are healthy and proud of their achievements. Their degraded landscape has been turned into a lush paradise.</p>

				<p>A brother and sister team travel to Zimbabwe to make this film to learn how this has happened.</p>
				</div></div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-success">
				  <div class="panel-heading">
				    <blockquote>
				    	<p><em>"Permaculture actually solves all the problems that we face in human life. So this is considered to be the right approach for us to live - if you want to save the earth."</em></p>
						<small>Julius Piti, a Chikukwa Project founder</small>
					</blockquote>
				  </div>
				</div>
				<a class="twitter-timeline" href="https://twitter.com/ChikukwaProject" data-widget-id="380905811574136833">Tweets by @ChikukwaProject</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
						</script>
				
			</div>
		</div>
	</div>
</div>

<div id="page3">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
			<h2>The trailer</h2>
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="responsive-container">
							<iframe src="//player.vimeo.com/video/33761246?title=0&amp;byline=0&amp;portrait=0&amp;color=777777" width="700" height="394" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<h2>Announcements</h2>
				<div class="panel panel-success">
					<div class="panel-body">
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>